[2022-09-06 22:50] richaagarwal commented on #638
@klai95 Thanks for sharing this issue you ran into.  I tried running the same code and it works for me - I'm also on an M1 Macbook Pro.  Not sure if this will resolve the issue fully, but could you try upgrading your `pip` version and retrying?  If that doesn't help, could you share the full stack trace? Based on the errors shared, I'm assuming it's happening  after the `pip install` attempt, so p

[2022-09-07 00:33] klai95 commented on #638
After pairing with Draga, we were able to pinpoint the reason why the above errors were happening. Essentially, the Python interpreter on PyCharm did not point to the same path as the virtual environment to which I have installed the necessary packages for the snowflake-connector-python-related code. Now that the Python interpreter has been changed to the correct one, running ```import snowflake.c

[2022-09-07 00:36] klai95 commented on #638
After pairing with Draga, we were able to pinpoint the reason why the above errors were happening. Essentially, the Python interpreter on PyCharm did not point to the same path as the virtual environment to which I have installed the necessary packages for the snowflake-connector-python-related code. Now that the Python interpreter has been changed to the correct one, running the below code yields

[2022-09-07 00:59] klai95 commented on #638
After pairing with Draga, we were able to pinpoint the reason why the above errors were happening. Essentially, the Python interpreter on PyCharm did not point to the same path as the virtual environment to which I have installed the necessary packages for the snowflake-connector-python-related code. Now that the Python interpreter has been changed to the correct one, running the below code yields

[2022-09-09 00:20] klai95 commented on #638
I am able to confirm that the code I have written in the backend successfully fetches the PyPI downloads table (aggregated by month) in Snowflake. Below I have attached a sample of the data being printed in the backend that follows the format of: `plugin name year-month num_downloads`
<img width="364" alt="Screen Shot 2022-09-08 at 5 19 58 PM" src="https://user-images.githubusercontent.com/7017777

[2022-09-09 00:26] klai95 commented on #638
I wrote sql code in Snowflake to generate the `ACTIVITY_DASHBOARD_TEST_2` table. From there, I am able to simply access said table via `Snowflake Python Connector` on the backend, and proceed to print the content of the table for data validation

[code]

[2022-09-09 00:57] klai95 commented on #638
I just generated the .csv file and here is a glimpse of how it is structured:
<img width="322" alt="Screen Shot 2022-09-08 at 5 57 36 PM" src="https://user-images.githubusercontent.com/70177777/189250466-c2f3efdf-5889-46b6-ade4-7af4b3e457f9.png">

[2022-09-09 19:21] codemonkey800 opened #652 "Staging is down because of webpack config"
#### Description
A new webpack configuration option was added in #650 that is causing the staging build to be down. The offending line is here:

https://github.com/chanzuckerberg/napari-hub/blob/5871592cca401cb4926ce685dc4c2899314e62f4/frontend/next.config.js#L70

This was originally added so that the frontend could make client-side requests to the API server. However, that means we need to includ

[2022-09-09 20:25] codemonkey800 opened #653 "Area chart UX improvements"
Just realized I forgot to implement some suggested UX improvements for the area chart:

- [ ] The decimals (1.0, 1.5, 2.0...) look weird on the y-axis.
- [ ] Assuming we keep the hover state, I'd probably like the font weight to be regular instead of bold.
- [ ] some horizontal lines are rendered thinner than others (or my eyes are tricking me!)

https://github.com/chanzuckerberg/napari-hub/pull/6

[2022-09-09 22:04] richaagarwal opened #655 "Local development environment docs"
Currently, we don't have complete documentation on how to run the napari hub locally, and it can be difficult for a new engineer to get started with local development.  Let's make that easier by writing some documentation.

### Topics to cover
- How to run the back-end locally
- How to run the front-end locally (this is covered here: https://github.com/chanzuckerberg/napari-hub/tree/main/frontend

[2022-09-09 22:41] richaagarwal opened #656 "Prod, staging, & dev environments docs"
Currently, we don't have complete documentation on our production, staging, and development environments.  Let's add some more documentation to fix that.

### Topics to cover
- Overview of our production environment
  - Overview of the infrastructure. Include links to diagrams, but also provide text overview: e.g. include written info about the full stack: flask, python, react/next.js, AWS, S3, an

[2022-09-10 03:52] #652 closed, assigned to codemonkey800

[2022-09-12 17:12] codemonkey800 opened #657 "Consistency around API_URL"
Some recent feedback @richaagarwal left is around consistency for `API_URL` on the hub. A few suggested improvements:

1. Rename `API_URL` to `BACKEND_URL`
    - There is one usage called `BACKEND_URL`: https://github.com/chanzuckerberg/napari-hub/search?q=BACKEND_URL
    - Maybe rename to `BACKEND_URL` to be consistent with naming convention (frontend / backend)?
    - A lot more references and t

[2022-09-12 17:19] richaagarwal commented on #657
Thanks for opening this, Jeremy!  I think I misunderstood that proxying was the preferred approach and not a workaround to not having the variable available at build time -- so I don't feel strongly that we need to make it available now that I understand this is your suggested approach.

Not sure if we'll reach a point where we need `API_URL` at build time for other reasons, so perhaps we could re

[2022-09-12 20:49] richaagarwal opened #658 "High-level technical documentation on napari hub features"
Currently, we don't have much documentation summarizing how or features/products work from a technical perspective. Adding documentation on this can help validate that we all have the same understanding of how features work, make it easier to suggest changes in the future, and make it easier for new engineers to onboard.  Let's start by adding a high-level summary for each of the below areas.

###

[2022-09-12 21:58] klai95 commented on #638
Writing initial logic for /activity/installs/:plugin to meet the specification outlined by frontend by reading in the .csv file and converting datetime objects to time since epoch in milleseconds

[2022-09-13 17:21] klai95 commented on #638
As noted above but clarifying just for more context, each aggregated month will be on the first day of the particular month. For example, if plugin `napari-dzi-zarr` is aggregated for January 2021, then the `x` coordinate would be `2021-01-01`, but converted to timestamp in milleseconds

[2022-09-14 00:43] klai95 commented on #638
Just to clarify, do you mean that /activity/installs/:plugin should return `[object1, object2, object3, ...]`, in which `object1` currently would only have `attribute x` and `attribute y`, but may be subject to change?

[2022-09-14 00:45] klai95 commented on #638
I have successfully written backend code to read Snowflake table, process data, and write it to `sci-imaging-data/activity_dashboard.csv` on s3. I am now writing backend code in `app.py`, `model.py`, and `s3.py` to create the two backend endpoints.

[2022-09-14 00:48] klai95 commented on #638
I agree. I will make this change.

[2022-09-14 05:34] klai95 commented on #638
I created a new method in `s3.py` named `def get_activity_dashboard_data()` that reads in activity_dashboard.csv on s3 and converts it into a dataframe for easier processing later on.
<img width="529" alt="Screen Shot 2022-09-13 at 10 34 17 PM" src="https://user-images.githubusercontent.com/70177777/190067912-77bea71a-f87f-44bd-b252-45dde34fdd3d.png">

[2022-09-14 18:05] neuromusic commented on #638
@klai95 any chance you could point to a draft PR or branch? I'm curious because the snowflake connector supports reading from snowflake directly into a dataframe so you might be able to cut out the CSV intermediary: https://docs.snowflake.com/en/user-guide/python-connector-pandas.html

[2022-09-14 18:11] richaagarwal commented on #638
@klai95 +1 to Justin, for other reasons as well I was going to suggest that pushing to a branch/draft PR could be helpful! You won't need to give as granular updates here if there's some other work artifact such as a branch/PR that people can follow progress on.

[2022-09-14 18:13] richaagarwal commented on #638
Just to clarify @neuromusic - the CSV is the S3 storage part, which we do need since we'll only run this job nightly.

[2022-09-14 18:16] klai95 commented on #638
The .csv file is the content stored on s3. When I read the .csv file from s3 in the backend codebase, I then transform it into a dataframe, so that it is easier to convert to the formats for endpoints specified by frontend. We are not storing the dataframe on s3.

[2022-09-14 18:17] klai95 commented on #638
Yeah I will create a draft pr in a bit

[2022-09-14 18:58] klai95 commented on #638
Draft PR has been created: https://github.com/chanzuckerberg/napari-hub/pull/662

[2022-09-16 18:47] neuromusic commented on #643
@codemonkey800 has confirmed implementation works and does not introduce any new cookies.

Kindra will prep HubSpot configuration.

I've initiated a Trust XFN review to get updated copy for the Privacy page from Legal.

Once we have updated Privacy disclosure and HubSpot configured, we'll be ready to land #661

[2022-09-16 18:48] neuromusic opened #663 "Update Privacy disclosure reflecting use of Hubspot instead of Mailchimp"
To complete our migration to HubSpot, we need to update our Policy.

[2022-09-16 18:49] neuromusic commented on #663
Initiated Trust XFN review requesting new copy for Privacy page from Legal

[2022-09-19 21:33] klai95 opened #664 "[Activity dashboard] Pull PyPI downloads data nightly"
In https://github.com/chanzuckerberg/napari-hub/issues/638, we introduced API endpoints that connect to PyPI downloads data.  As part of that work, we did a one-time pull of data from Snowflake.  Now, let's make that a recurring cron job that runs once every 24 hours.

### Additional details
- Even though activity dashboard functionality is currently behind a feature flag, let's develop this data

[2022-09-19 22:24] #586 closed

[2022-09-19 22:25] DragaDoncila commented on #622
This issue can be closed by the work in #645. We write any errors in manifest discovery to the manifest file itself.

[2022-09-19 22:25] #622 closed

[2022-09-19 22:26] DragaDoncila commented on #621
This issue can be closed following the work in #645.

[2022-09-19 22:26] #621 closed

[2022-09-19 22:31] DragaDoncila commented on #620
After further discussion on the proposed tech spec we've decided to go with Option 2 - remove the file creation trigger completely and instead invoke the `plugins` lambda directly from the backend after first checking that a manifest file does not already exist for the given plugin + version. More detail is in the [tech spec](https://docs.google.com/document/d/1g36PzXafm1vfbWSW2w4-0rX-xO5rv4rBo27e

[2022-09-20 18:43] codemonkey800 opened #666 "Activity dashboard stacked rows prototype"
## Description

Working on the next phase of the activity dashboard:

![image](https://user-images.githubusercontent.com/2176050/191338920-edcf80ad-a6d0-4595-a1ce-e2b6ea058568.png)

This will include the follow additions:

- Stacked layout for new charts
- Github stats and charts
- Tab interface (maybe, still pending design discussion)

[2022-09-28 19:32] klai95 opened #671 "Migrate Napari Hub Service(s) From Current AWS Region"
### Summary
Per the incident: https://czi-sci.slack.com/archives/C56QRGLRJ/p1664387467312159, the napari hub website was completely down for roughly 1 hour.

### Intended Outcome
In order to mitigate this issue, it would make sense to migrate at least some of the napari hub services away from AWS region `US-WEST-2`, so that we can diversity where our services are hosted, and avoid napari hub websi

[2022-09-29 19:32] codemonkey800 opened #672 "Add TTL to preview page so we can clean up resources"
I remember us planning to have a TTL for preview pages, but I'm not sure if it was set up because I'm seeing old preview pages for the napari-demo repo:

<img width="649" alt="image" src="https://user-images.githubusercontent.com/2176050/193125195-f01dd98e-e458-4530-8973-d43e2c177c93.png">

we should apply a TTL so that we can clean up old and unused resources, and so that people don't use it for

[2022-09-29 23:53] klai95 commented on #658
draft doc for plugin metadata: https://czi.quip.com/AZNzAZGxfLcP/High-level-tech-documentation-Plugin-Metadata

[2022-09-29 23:56] klai95 commented on #658
@DragaDoncila will review https://czi.quip.com/AZNzAZGxfLcP/High-level-tech-documentation-Plugin-Metadata to provide feedback and/or fill in gaps where they make sense.

[2022-09-29 23:56] klai95 commented on #655
@DragaDoncila will review the backend portion of https://czi.quip.com/1P1NAxFxv8NM/Local-Development-docs to provide feedback and/or fill in gaps where they make sense.

[2022-09-30 19:42] klai95 commented on #656
draft doc for deployment environments: https://czi.quip.com/I1YcA1A3yRq0/Deployment-Environments

[2022-09-30 19:42] klai95 commented on #656
@DragaDoncila will review  https://czi.quip.com/I1YcA1A3yRq0/Deployment-Environments to provide feedback and/or fill in gaps where they make sense.

[2022-10-04 22:21] klai95 commented on #664
Below is the code to generate Snowflake data; as part of this issue, I will need to inject this SQL code directly in the backend codebase.
[code]

[2022-10-04 22:26] klai95 commented on #664
1: Create a new AWS lambda container for pulling external data sources (same level as `backend` and `plugins`)
2: Add in the additional Terraform changes for the container (credentials, CloudWatch cadence, etc)
3: Pull PyPI downloads data nightly (write data to S3 without writing the file locally)

[2022-10-04 23:06] bnelson-czi commented on #664
@klai95 One minor update. Change...
```WHEN details_all like '%amzn%' OR details_all like '%aws%' OR details_all like '%-azure%' THEN 'ci usage'```
...to...
```WHEN details_all like '%amzn%' OR details_all like '%aws%' OR details_all like '%-azure%' OR details_all like '%gcp%' THEN 'ci usage'```

This classifies any GCP installs as CI usage.

[2022-10-05 15:10] amedyukhina opened #674 "plugin doesn't show up in napari hub"
Hi,

I uploaded my [plugin](https://pypi.org/project/napari-filament-annotator/) to pypi yesterday (more than 15 hours ago), but it still hasn't shown up on napari hub.

I do have the “Framework :: napari” tag, and my plugin does show up in the [search](https://pypi.org/search/?q=filament&o=&c=Framework+%3A%3A+napari) on pypi.

Can you please have a look into it when you have a chance?

Thanks,
An

[2022-10-05 17:26] richaagarwal commented on #658
@klai95 @codemonkey800 I've reviewed all quip articles linked to from this ticket, and things look great! I left a few comments - after those are addressed, let's start moving these into the GitHub wiki.

@codemonkey800 For the remaining topics (i8n, SSR, SEO) - do you think we should open up follow-up tickets for them for the future? Or did it not make sense to cover them?

[2022-10-05 17:39] richaagarwal commented on #656
Looks great!  I made a few minor edits and think it's ready to be added to the wiki!  @codemonkey800 Could you do that?  We can close this afterward!

[2022-10-05 17:41] richaagarwal commented on #655
I'm reviewing this now - I'd like to go through the steps to confirm they work, and will report back!

[2022-10-05 18:01] richaagarwal commented on #658
@klai95 Sounds good! I would work with @codemonkey800 to figure out a wiki structure that makes sense - I think he might have some ideas since he's got other documentation already there.

[2022-10-05 21:58] codemonkey800 opened #676 "High-level technical documentation: Internationalization (i18n)"
We should have some documentation around how we do internationalization on the hub

[2022-10-05 21:59] codemonkey800 opened #677 "High-level technical documentation: Server Side Rendering (SSR)"
We should have a document on how we use server side rendering on the hub, why it's important, and what benefits it provides for us

[2022-10-05 22:00] codemonkey800 opened #678 "SEO documentation"
This document should describe the different strategies we use to improve SEO on the hub

[2022-10-05 22:06] klai95 commented on #658
Created the wiki page for backend tech documentation: https://github.com/chanzuckerberg/napari-hub/wiki/Tech:-Plugin-Metadata

[2022-10-05 22:27] klai95 opened #679 "Modify Terraform Workspace Name To Match Development Branch Name"
#### Description
In general, a development branch created on GitHub named `dev-[branch-name]` is incorrectly prefixed by `dev-` again in its Terraform Workspace name. See the below photo for more context. We would expect the names to be the same.

<img width="1489" alt="Screen Shot 2022-10-05 at 5 25 18 PM" src="https://user-images.githubusercontent.com/70177777/194175090-15548a88-fccf-4216-9cdb-c

[2022-10-05 22:30] klai95 opened #680 "Dev Branch Folder In S3 Isn't Deleted After Dev Branch's Deletion On GitHub"
## Description
In general, we would expect the development branch folder in S3 under the `napari-hub-dev` bucket to be deleted after it has been deleted on GitHub. However, that is not happening automatically currently.

[2022-10-05 23:05] richaagarwal commented on #655
@codemonkey800 Sounds good - I was/am still reviewing it but I'll just make edits directly to the wiki instead of tracking here. Thanks!

[2022-10-06 02:28] DragaDoncila commented on #620
@richaagarwal yep, will make those changes. I'm reviewing some of those docs now

[2022-10-06 16:37] amedyukhina commented on #674
It has shown up today. Closing this.

[2022-10-06 16:37] #674 closed

[2022-10-06 18:30] codemonkey800 opened #681 "Staging swagger should default to staging API"
<img width="742" alt="image" src="https://user-images.githubusercontent.com/2176050/194391012-266d241d-d050-4fe2-8226-3e07f10b0799.png">

I noticed that when using [swagger on staging environment](https://api.staging.napari-hub.org/), it calls the production API instead of the staging one.

Looks like there's a dropdown for selecting the environment, but ideally the staging swagger should default

[2022-10-06 18:42] codemonkey800 opened #682 "Use datadog for frontend logging"
Right now any logs from the server side of the hub frontend go into AWS CloudWatch. The UI is cumbersome to use and hard to find logs in a centralized place per environment since logs are organized by container ID.

Any logs from the client side are lost completely since we don't do any tracking.

We should use the [datadog browser logging library](https://docs.datadoghq.com/logs/log_collection/ja

[2022-10-06 21:18] klai95 opened #685 "Filter plugin installs data"
For the `/activity/<plugin>` endpoint, we should filter installs data to the past _n_ months, where _n_ can be specified by the frontend, but otherwise defaults to 12. Additionally, the current month's data is not returned, so the data would always end at the previous month (e.g. in October 2022, we would return available data for October 2021 - September 2022).

### Additional notes
Currently on

[2022-10-06 21:32] codemonkey800 opened #686 "Feature flagging docs"
We should have documentation on how feature flagging works on the hub frontend. It should have info about:

- Adding feature flags
- Enabling for environments
- URL overrides

[2022-10-06 23:32] klai95 commented on #664
I have added `snowflake_user` and `snowflake_passwrod` on https://si.prod.tfe.czi.technology/app/sci-imaging-infra/workspaces/prod-happy-napari-hub. @potating-potato will help apply the change in https://github.com/chanzuckerberg/sci-imaging-infra/blob/28ecdd11f35edc431bba52420b3b9220b1e9dd82/terraform/modules/happy-napari-hub/main.tf#L31-L60

[2022-10-06 23:39] klai95 opened #687 "Unresolved references for import statements"
#### Description
Since we now have two directories in the codebase, namely, `backend` and `plugins`, the IDE has trouble finding the content inside of them. For example, `backend.utils.conda` yields no error, while `utils.github` yields error of `Unresolved reference 'utils'`. This issue slows down development velocity, as engineers would have to fix them in order to run their code locally.

<img

[2022-10-07 00:03] DragaDoncila commented on #687
I think this is an issue now because we don't have a proper python project structure. I think both `plugins` and `backend` should live under a top level python code module, especially as we add more functionality. We've actually already run into this issue when first adding the `preview` directory, (see[ comment here](https://github.com/chanzuckerberg/napari-hub/pull/279#issuecomment-941626090)),

[2022-10-10 18:24] #638 closed

[2022-10-10 19:59] richaagarwal commented on #633
@neuromusic I'm going to move this out of "Ready" since it seems that the other tasks defined in #629 need to happen first - let me know if that's not the case!

[2022-10-10 20:04] richaagarwal commented on #611
I am going to close this since we have #608 to track work on a potential fix.  We can re-open this in the future if needed or the situation worsens.

[2022-10-10 20:04] #611 closed

[2022-10-17 19:15] richaagarwal commented on #620
@DragaDoncila I was thinking we could close this, but it might be good to leave open until we update the documentation (see my last comment: https://github.com/chanzuckerberg/napari-hub/issues/620#issuecomment-1269186527). Let me know if you have any questions about that!

[2022-10-17 19:31] DragaDoncila commented on #620
@richaagarwal happy to leave open. Preview page & doc updates are on my list for this week.

[2022-10-17 19:37] DragaDoncila opened #688 "Update preview page to use new `npe2` manifest discovery logic"
### Summary
Following the discovery logic implemented in #621, we can greatly simplify the preview page logic and remove a lot of code by making use of the same discovery mechanism.

### Intended Outcome
- Faster previews (fetch is much quicker than the original discovery mechanism which required plugin install)
- Consistency with prod environment
- Significantly reduced maintenance burden - we sh

[2022-10-17 23:39] richaagarwal commented on #618
Closing this as I've made some revisions to the tech spec that have informed the work in #506 and #507 and will be sending out for broader review/alignment.

[2022-10-17 23:39] #618 closed

[2022-10-18 18:10] codemonkey800 opened #689 "Plugin type metadata showing raw data instead of label"
I noticed during @DragaDoncila's demo that the plugin type is showing the raw value instead of the label

<img width="174" alt="Screen Shot 2022-10-18 at 11 08 34 AM" src="https://user-images.githubusercontent.com/2176050/196510593-77239b27-f2b0-481a-8163-ca26f2d15305.png">

[2022-10-18 19:39] DragaDoncila commented on #689
@codemonkey800 thanks for filing! I noticed the same thing.

[2022-10-18 22:43] codemonkey800 opened #691 "Split.io feature flagging for frontend"
Follow up of #619 to add Split.io integration to the frontend

[2022-10-18 22:44] codemonkey800 opened #692 "Split.io feature flagging for backend"
Follow up of #619 to add Split.io feature flagging to the backend

[Tech Spec](https://docs.google.com/document/d/1M673LM8y3RHDK7GDQsGHSuq2dKToi-FVqEuKRtJIoPg/edit#heading=h.h1hb6dw6updw)

[Documentation](https://help.split.io/hc/en-us/articles/360020359652-Python-SDK)

[2022-10-18 22:44] #619 closed, assigned to codemonkey800

[2022-10-19 17:00] #663 closed

[2022-10-19 17:41] klai95 commented on #664
Pinpointed the necessary files (`sci-imaging-infra/terraform/envs/prod/happy-napari-hub/variables.tf`, `https://github.com/chanzuckerberg/sci-imaging-infra/blob/main/terraform/envs/prod/happy-napari-hub/main.tf`, `https://github.com/chanzuckerberg/sci-imaging-infra/blob/main/terraform/modules/happy-napari-hub/variables.tf`, `https://github.com/chanzuckerberg/sci-imaging-infra/blob/main/terraform/m

[2022-10-19 21:08] klai95 commented on #664
@manasaV3 @codemonkey800 and me have just discussed the following points and we hope to get feedback from @richaagarwal about them:

Ensure frontend has more granular control and building an api that is more extensible; moreover, we are going to set a limit as a param to avoid malicious users from hitting our endpoints too many times, and also set up `from` and `to` parameters so users can choose

[2022-10-19 23:26] klai95 commented on #685
@manasaV3 @codemonkey800 and me have just discussed the following points and we hope to get feedback from @richaagarwal about them:

Ensure frontend has more granular control and building an api that is more extensible; moreover, we are going to set a limit as a param to avoid malicious users from hitting our endpoints too many times, and also set up from and to parameters so users can choose to s

[2022-10-20 21:12] codemonkey800 opened #693 "Activity dashboard API being called on frontend regardless of feature flag"
We encountered an issue around the activity dashboard API being called despite the feature flag is off. We should not make an API call if the feature is disabled

[2022-10-20 22:31] richaagarwal commented on #685
@klai95 Thanks for noting this, Kevin!  I've updated the issue's description above. Let me know if that captures this. In the future, we can certainly look into accommodating specific start and end dates as well.

I also removed the bug label as this work is not yet released to production :)

[2022-10-21 02:00] klai95 commented on #685
Just two clarifying questions:

(1) Does this mean we are set on not displaying the current month's data? I know during the meeting some folks were talking about prediction models, so just want to get some clarity!

(2) When you say we should filter installs data to the past n months, is there an upper bound for what n could be? For example, if someone requests for a value of 100 for n, do we have

[2022-10-21 21:00] manasaV3 commented on #664
Based on discussions from our code pairing session, @klai95 and I decided to use secret manager to store the credentials for snowflake. The reason for this was to increase the security for the credentials, by preventing the credentials from being readable as an environment variable of the lambda.

This will be achieved by having the lambda fetch the credentials from the secret manager before makin

[2022-10-21 21:26] richaagarwal commented on #664
@manasaV3 It's definitely worth verifying, but I don't believe those are being maintained manually.  I believe all values are set in Terraform once and then generated in AWS.

Would it be possible to follow the current process of settings credentials via Terraform, and then proposing a change as a separate issue?  I'm hesitant to have different variables be set in different places, and want to kee

[2022-10-21 22:04] manasaV3 commented on #664
This is good to know.
My reasoning for suggesting the usage of the secret manager in code over having the terraform was because it didn't feel like the best practice to have the db credentials easily accessible. But, I do see your point on having different variables being sourced from different sources. Also, not having clarity on the sourcing of the env-config secret might take a some more time t

[2022-10-21 22:09] richaagarwal commented on #685
@klai95 For our initial launch (what we've been referring to internally as P0 work), we won't be displaying the current month's data.  In follow-up work, there will likely be changes to what & how we display the data.

We haven't yet discussed this particular ticket in a team meeting so it's possible there will be some more changes - nothing is set in stone at the moment, but we'll finalize the cr

[2022-10-21 22:25] richaagarwal opened #695 "Add snowflake credentials to environment"
In order to implement https://github.com/chanzuckerberg/napari-hub/issues/664, we need snowflake credentials available in our dev, staging and prod environments.  Infra originally set up a snowflake service account for the Imaging team with the username `SVC_PYTHON` and password available here - https://us-west-2.console.aws.amazon.com/systems-manager/parameters/snowflake/users/svc_python/descript

[2022-10-21 22:27] richaagarwal commented on #664
Broke out the credentials piece into its own issue - https://github.com/chanzuckerberg/napari-hub/issues/695 - so that we can focus specifically on the python/cron job piece in this ticket!

[2022-10-24 20:03] klai95 opened #697 "e2e (chronium) fails during GitHub Action run"

[2022-10-24 20:08] klai95 commented on #697
@codemonkey800 Do you have more context on this issue?

[2022-10-24 20:53] neuromusic opened #698 "P0: Add tabbed navigation"

[2022-10-24 20:54] neuromusic opened #699 "“Usage” section: Total installs"

[2022-10-24 20:54] neuromusic opened #700 "“Usage“ section: Installs in last 30 days"
### Tasks
- [x] #709
- [x] #708

### Mockup

![image](https://user-images.githubusercontent.com/1245615/197644283-d8e6cf65-7978-45d4-9cf8-d45d71a3197c.png)

### Assets
- P0 Activity Dashboard designs: https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1125%3A2156#290974648

[2022-10-24 20:54] neuromusic opened #701 "“Usage” section: Timeseries of last year of installs"
### Tasks
- [x] #731
- [x] #685
- [x] https://github.com/chanzuckerberg/napari-hub/issues/723

### Mockup

![image](https://user-images.githubusercontent.com/1245615/197644602-3ef75838-c51b-4244-a591-17f144433ebc.png)

### Assets
- P0 Activity Dashboard designs: https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1125%3A2156#290974648

[2022-10-24 20:54] neuromusic opened #702 "“Releases” section: Total number of releases"
template TBD.

"N updates since released X months ago"

[2022-10-24 20:54] neuromusic opened #703 "“Releases” section: Time since last release"

[2022-10-24 20:55] neuromusic opened #704 "Add estimate of current month in the timeseries plot"

[2022-10-24 20:55] neuromusic opened #705 "Updated copy per UXR recs"
On sidebar of plugin page & plugin card

- "Release date" should become "Last updated"
- "First released" should remain the same

[2022-10-24 20:55] neuromusic opened #706 "Add total installs metric to plugin card"

[2022-10-24 20:55] neuromusic opened #707 "Addition of “Total installs” to sort options"

[2022-10-24 22:43] neuromusic opened #708 "Frontend: Card in "usage" section of activity dashboard"

[2022-10-24 22:43] neuromusic opened #709 "API: return installs count for the prior 30 days"
Add new API endpoint to return installs count for the past 30 days (not including today).

### P0 implementation details
- Add an additional query to cron job (that will be introduced in https://github.com/chanzuckerberg/napari-hub/issues/664) to retrieve daily install counts (for past 30 days only) from Snowflake and write those to an additional file in the S3 folder.
- Add a new API endpoint (si

[2022-10-25 22:55] neuromusic opened #712 "View of time of releases"

[2022-10-27 17:31] liaprins-czi opened #715 "Redesign "Learn more" grey box area on plugin pages"
Currently the Author, website(s), and GH repo info about a plugin are shown in a grey box near the top of each plugin page. We list all website type(s) regardless of whether the plugin has all those types; the ones that don't have links are disabled. This list makes the box fairly tall.

We want the new tabs for Description, Activity, and Citation info to be more visible. Redesigning this grey box

[2022-10-27 21:36] richaagarwal commented on #630
@neuromusic Should we also update https://github.com/chanzuckerberg/napari-hub/wiki/Customizing-your-plugin's-listing? Is there any other documentation we need to update?

[2022-10-28 03:49] neuromusic commented on #630
good call. done.

On Thu, Oct 27, 2022 at 2:37 PM Richa Agarwal ***@***.***>
wrote:

[2022-10-28 05:16] richaagarwal commented on #630
@neuromusic Just to clarify, there's not a need to clean up existing/historical data here, right? (If so, I can open up a follow-up issue for that if it's important)

[2022-10-28 05:33] neuromusic commented on #630
@richaagarwal I don't believe so. this was a barely-communicated feature that I'm pretty sure was unused.

[2022-10-28 19:08] #630 closed

[2022-10-31 16:34] #695 closed

[2022-10-31 16:40] manasaV3 commented on #709
## Implementation strategies for last 30 days install metric

- Run query along with daily job to fetch data on installs by month
- Store data in persistent storage

### Fetching the data:

The daily job that runs to capture the number of installs by month can be leveraged to also update the installs in last 30 days metric as well.

**Query:**

[code]

### Storing the data:

#### Single s3 file:

[2022-10-31 16:42] neuromusic commented on #608
note: in order to support #712, #702, and #703, we'll need to ingest ALL release dates from PyPI

[2022-10-31 17:41] #693 closed, assigned to codemonkey800

[2022-10-31 20:54] richaagarwal commented on #685
Just a heads up that we may need to clarify whether to distinguish plugins that were released in the current month (in which case we'd check the plugin's release date and return data accordingly) vs. older plugins that happen to have zero installs - depending on the outcome of that, it may impact the work in this ticket (we could open up a separate issue, but just wanted to flag here). Let's clari

[2022-10-31 21:27] manasaV3 opened #719 "Adding keys to authenticate backend jobs"
### Discussed in https://github.com/chanzuckerberg/napari-hub/discussions/717

<div type='discussions-op-text'>

<sup>Originally posted by **manasaV3** October 31, 2022</sup>
Currently the backend jobs are unauthenticated. This would allow for anyone who is aware of the api end point to call it. As this is a more resource intensive workflow, we should secure the triggering of the backend data upda

[2022-10-31 21:48] manasaV3 opened #720 "Optimizing API endpoint for activity data"
### Summary
Currently, the frontend is making multiple calls to fetch data for loading several components of activity. This is not optimal, especially as all those data are related and we render them in the same place. This can be optimized for by having a single endpoint that returns all the data.
### Intended Outcome
Proposed request path:

`/metrics/<plugin>?include="timeline","stats"&limit=25`

[2022-10-31 22:12] richaagarwal commented on #699
Next steps on this should be frontend work, if backend tweaks are needed we can use this ticket to track. cc @codemonkey800

[2022-10-31 22:13] liaprins-czi commented on #699
Link to specific Figma page (also accessible via the link in description of this issue) describing the time-bucketing https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1357%3A2021

[2022-10-31 22:38] neuromusic commented on #719
note: deleted the discussion since the issue is being tracked here now :D

[2022-10-31 22:44] richaagarwal commented on #685
@klai95 @codemonkey800  To summarize what was discussed in sprint planning today - we will move forward with what's captured in Lia's designs and show a special message for when a plugin is new (e.g. released in the current month), and otherwise show data as defined in this ticket.  So I will let you two work out what the back-end should return so that the front-end knows it is a new plugin and to

[2022-10-31 23:25] DragaDoncila opened #721 "`Save layers` information is not always populated on prod."
#### Description
I noticed [the preview of `napari-demo` ](https://preview.napari-hub.org/chanzuckerberg/napari-demo/19) has the `Save Layers` info populated, but [on prod](https://www.napari-hub.org/plugins/napari-demo) it says "information not submitted" (screenshots below).

#### Steps/Code to Reproduce
1. Opened PR to `napari-demo` pointing to branch with the new changes to `npe2 fetch`
2. Che

[2022-10-31 23:28] DragaDoncila commented on #721
A bit more context:

[napari-splineit](https://www.napari-hub.org/plugins/napari-splineit) does have info populated on prod, they just have `shapes` in their save layers metadata. [napari-deeplabcut](https://www.napari-hub.org/plugins/napari-deeplabcut) don't have info populated, but their metadata is:

[code]

Based on this I'd say we're being too strict on the data validation for this field in t

[2022-11-01 00:02] #666 closed, assigned to codemonkey800

[2022-11-01 02:17] DragaDoncila commented on #721
@codemonkey800 we don't do any additional parsing of the `writer_save_layers` field beyond reading them all into a set. It looks like the frontend is not expecting any[ quantifiers](https://napari.org/stable/plugins/guides.html#layer-type-constraints) to be present e.g. `image+` or `image{2}`. Is that desired behaviour? If so, I can strip the quantifiers in the backend. We would still need to add

[2022-11-01 18:46] #664 closed

[2022-11-01 19:17] klai95 commented on #685
@codemonkey800 Just some clarification, we would still want to return `None` instead of `0` in this case right?

[2022-11-01 19:28] klai95 commented on #685
The second option is what we had before, so I think at this point perhaps we can just go with option 1?

[2022-11-01 20:37] codemonkey800 opened #723 "Render public release in the installs timerseries chart"
The public release data point renders an additional dashed line and label to indicate the number of installs during the month it was released. The frontend prototype determines the public release based on the `null` data points:

https://github.com/chanzuckerberg/napari-hub/blob/90c7aa6d1396b82d9b1b9d0198494ef5d6d0cb51/frontend/src/components/AreaChart/AreaChart.tsx#L86-L89

[code]

<img width="61

[2022-11-01 22:16] liaprins-czi opened #724 "Consider nested right nav with tabs as parents"
Per [Figma comment](https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX?node-id=1125:2156#297807552) from @kandarpksk , we could include the tabs' names as nav items in the left nav for discoverabilty / navigability. Then the current H2 headers would be nested below their tabs' names in the left nav.

We already have a visual design for a nested right nav, for napari.org:
https://www.figma.com/file/

[2022-11-01 22:33] DragaDoncila commented on #721
My opinion would be yes be strict about layer types, and no don't show quantifiers - just show whether there's any writer that mentions that layer type - I think the exact quantifiers are too specific. Would also definitely need to remove them from the filters. But yes, curious to hear what the others think.

Also worth noting the manifest is already validated at the backend and an invalid manifes

[2022-11-01 23:38] neuromusic commented on #721
+1 to @DragaDoncila's comments re: 1 & 2

[2022-11-01 23:41] DragaDoncila commented on #721
Ok so it sounds like action items are:

- [ ] add remaining layer types to enum in the frontend.
- [ ] update `writer_save_layers` in backend to remove quantifiers.

[2022-11-02 08:41] richaagarwal opened #725 "Proposal: Maintain single data store for dev branches"
Currently, we have folders within the `napari-hub-dev` S3 bucket specific to each dev branch.  Inside a specific dev branch folder, the structure otherwise mirrors what we have in `napari-hub-staging` and `napari-hub-prod` S3 buckets. I'd like to propose that we no longer maintain folders for each dev branch, and instead have all dev branches point to the same data.

There are a few issues with ou

[2022-11-02 15:54] liaprins-czi commented on #702
(Not yet final) designs for P1 updates are here:
https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1623%3A2042

[2022-11-02 15:57] liaprins-czi commented on #703
(Not yet final) designs for P1 updates are here:
https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1623%3A2042

I think the only thing left is to align on the proposed time buckets for both metrics. I am proposing we use the same "granularity system" of time bucketing that we use for the first Usage metric ("X installs since publicly released [insert time bucket]") for c

[2022-11-02 16:22] liaprins-czi commented on #706
Designs are here:
https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1623%3A2415

Also I think if we can at the same time, change these metadata labels (Total installs, Last updated, Plugin type) to use sentence case (the first letter of the label as a whole is capitalized),that'd be great! In my original designs they were all lowercase, but I think it should change to ha

[2022-11-02 16:23] liaprins-czi commented on #705
Designs are here:
https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1623%3A2415

Also I think if we can at the same time, change these metadata labels (Total installs, Last updated, Plugin type) to use sentence case (the first letter of the label as a whole is capitalized),that'd be great! In my original designs they were all lowercase, but I think it should change to ha

[2022-11-02 16:30] liaprins-czi commented on #707
@neuromusic Do we now want "Total installs" to be the default sort order (pre-search)? Before a user searches, the current default sort is alphabetically by plugin name. But now that one will be at the end of the sort order list and Total installs at the top (until user runs a search).

We can also talk about this on Friday at the call you set up.

[2022-11-02 16:38] liaprins-czi commented on #707
Designs are here:
https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1624%3A2495

I will update the selected radio button if needed, per above comment.

[2022-11-02 18:11] neuromusic commented on #707
I believe the current default is "Recently updated", which I think is ideal, since it keeps the list fresh and highlights new activity in the ecosystem.

[2022-11-04 18:02] liaprins-czi commented on #707
Yeah I got mixed up! So just to verify, do we still want to keep "Recently updated" as the default (pre-search) sorting option (or make total install the new default)?
If so, should we re-order the list of sort options so it's at the top (pre-search), e.g.
1. [Relevance]
2. Recently updated
3. Total installs
4. Newest
5. Alphabetical (formerly Plugin Name)

[2022-11-04 20:26] codemonkey800 opened #731 "Update area chart component to match design"
Current implementation is based on the prototype. It should be updated to match the new design:

![image](https://user-images.githubusercontent.com/2176050/200067935-881c66bc-4faa-4b60-a080-38619fed5257.png)

[2022-11-04 20:31] codemonkey800 opened #732 "Activity dashboard empty states"
Empty states need to be implemented for the activity dashboard and area chart components

<img width="726" alt="image" src="https://user-images.githubusercontent.com/2176050/200068777-79e40c64-f2e9-4437-b0f4-6868e76cd24c.png">

<img width="470" alt="image" src="https://user-images.githubusercontent.com/2176050/200068802-dd500dff-797f-4373-acb5-8620bc208827.png">

[2022-11-04 21:09] codemonkey800 opened #736 "Scroll not working when opening plugin page heading link"
#### Description
When opening a plugin page with a heading hash added to it, the hub will briefly scroll to the heading and scroll back to the top. It seems to happen intermittently on Firefox / Safari if the browser viewport is narrow enough

#### Steps/Code to Reproduce
1. Open Safari / Firefox
2. Narrow browser window until the hub shows < 3 columns
3. Visit https://www.napari-hub.org/plugins/d

[2022-11-07 18:58] #643 closed

[2022-11-07 19:30] neuromusic opened #737 "copy updates/bugs/revisions for Collections"
Copy revisions & updates needed prior to release

- [ ] Remove bullet points from main collections page (protocols, toolkits, assortments)
- [ ] Tooltip hovering on Twitter should be "Visit Twitter profile"

[2022-11-07 20:01] neuromusic opened #738 "User Story: Rich text (Markdown) support for Collections descriptions"
### Job Stories
- **When I** am curating a collection, **I want to** use basic text markup **so that** I can better describe my collection.

### Acceptance Criteria

_For the collection description, the following markup is supported_
1. Bold
2. Italics
3. Unordered lists
4. Hyperlinks
5. Paragraphs

_For the plugin description, the following markup is supported:_
1. Bold
7. Italics
5. Paragraphs

[2022-11-08 20:08] manasaV3 opened #740 "Refactor api.s3 to follow Single Responsibility Principle"
https://en.wikipedia.org/wiki/Single-responsibility_principle

Currently a lot of the business logic resides in the api.s3 in addition to fetching the data. Refactoring this to move the responsibilities between the data access layer and the business logic layer would make it easier to maintain long term

[2022-11-09 22:31] #506 closed

[2022-11-09 22:31] #507 closed

[2022-11-10 21:35] #688 closed

[2022-11-10 22:11] liaprins-czi commented on #724
Closing this for now after experimenting with it and getting feedback from the other designers. It is inconsistent with how we do nested nav on napari.org as well (which doesn't have tabs). I am working on other designs to make the tabs more apparent and their content more discoverable, like moving the tabs up higher on the page

[2022-11-10 22:11] #724 closed

[2022-11-10 23:09] codemonkey800 opened #744 "Use optimized API for activity dashboard"
Once  #741 is merged, we should refactor the frontend to use the new API so we can reduce the number of API calls the frontend makes

The following will need to be updated:

- Mock server
- hub API client
- React hooks

[2022-11-11 02:10] manasaV3 opened #746 "Devo front end ECS task to default to 1"
In our current ECS setup, each development branch creates a new service in the existing dev cluster. The dev environment also registers two tasks for each service. Considering the average number of requests sent to our dev services, we might not need those services scaled up to run multiple tasks at the initialization time as we do in production.

All the tasks share the resources allocated to the

[2022-11-14 18:00] #685 closed

[2022-11-14 21:23] neuromusic commented on #706
note: we're going to pause on implementation of this until we migrate from AWS to a persistent database

[2022-11-15 01:08] codemonkey800 opened #748 "plausible analytics for tabbed navigation"
We should track a plausible event for when the user switches between tabs on the plugin page. We'll use the event name `Plugin Tab Nav` and we'll include the following properties:

[code]

[2022-11-15 19:13] codemonkey800 opened #751 "Change copy for total installs section"
Got some feedback from @LCObus to change the copy for the total installs section from `over` -> `around`

<img width="257" alt="image" src="https://user-images.githubusercontent.com/2176050/202005655-3f0d0662-b00d-4119-95ad-8436c095591b.png">

[2022-11-15 19:27] LCObus commented on #751
I assume/hope we'll have background details on where we pull data from, how regularly, etc, perhaps in the form of a hover over "i" icon?

 I imagine the "over" or even "around" was done to create buffer around when you update the info, but I'm curious what constructs the team decided on? Any ability to create clarity/definition for user is ideal, reducing cognitive load.

I also assume "publicall

[2022-11-15 19:36] richaagarwal commented on #751
The initial release date does not change, so to my knowledge this wasn't done to create buffer around when we update the info.  It's moreso that there are these different buckets that @liaprins-czi  had identified (though having trouble finding the initial doc at the moment). If we wanted to be more specific we could be from a data perspective.

[2022-11-15 19:38] neuromusic commented on #751
We'll have a link at the bottom to an page with details on how we source the data:
https://www.figma.com/file/d3t84J9Uzmj0GZnYROzdQX/Activity-Dashboard?node-id=1121%3A1819&t=dOp9sAcCUdNMG62m-0

Publicly released is equivalent to release on PyPI

[2022-11-15 19:45] LCObus commented on #751
thanks @neuromusic ! Of course this is written down somewhere and I just didnt see it 🤦‍♀️.
My original recommendation stands- that "over" as a defining term is a lower bound, and without knowing the bucket system, may prove confusing/insufficiently specific to user needs.

[2022-11-15 19:47] liaprins-czi commented on #751
It was originally brought up by @kandarpksk and / or @neuromusic as a way to be less granular as a plugin gets "older", (but either of you add more context / correct me if I'm mis-representing anything). The final time buckets were decided in an Activity Dashboard sync mtg, with @neuromusic + @kandarpksk ; [here's a link to the original comment in the G-doc for context](https://docs.google.com/doc

[2022-11-15 19:55] LCObus commented on #751
Thanks for the decision context @liaprins-czi !
I understand the granularity issue, though I still believe the user's goal of understanding usage at a snapshot in time is not well serviced by a single bounding limit. I think "less than" would cause the same issue- one bounding limit but creating confusion about how big the upper limit is.

It may not be an issue, I'm simply sharing my response as

[2022-11-15 22:34] codemonkey800 opened #752 "Add learn more link to activity dashboard"
The activity dashboard has a link at the bottom to learn more about the activity dashboard:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/2176050/202039224-1fcaf278-ec04-4a1e-a5b4-268bbc7ed2a7.png">

[2022-11-15 23:16] codemonkey800 opened #755 "Total installs should use first released and not release date metadata"
We're using the wrong metadata for total installs section:

https://github.com/chanzuckerberg/napari-hub/blob/2b29ca1db24428c76bf563987d3ca1d1b0456af8/frontend/src/components/ActivityDashboard/TotalInstalls.tsx#L40-L43

[2022-11-17 00:31] kandarpksk opened #759 "Sort plugins by human-readable name, not (hyphenated) codename"
Sorting by plugin name continues to use the codename, even though the hub supports the human-readable name now.

A related nice-to-have would be to omit "napari-" at the beginning if the human-readable name isn't specified by a plugin (in which case the codename is used), so that the sort order works as intended. Otherwise, users sorting by name have to remember to also look at plugin names beginn

[2022-11-17 06:04] psobolewskiPhD commented on #759
Oooo, I like this—thumbs up from me.
See related `napari/napari` issue: https://github.com/napari/napari/issues/5304
The `npe2` manifest includes `display_name`:
https://napari.org/stable/plugins/manifest.html#fields
This is intended to be used in user facing fields.

I get a that a plugin dev may want napari-foobar to be in the plugin name for purposes of GitHub, PyPi, etc. for their napari plugi

[2022-11-17 17:52] #755 closed, assigned to codemonkey800

[2022-11-17 17:53] #748 closed, assigned to codemonkey800

[2022-11-17 17:56] codemonkey800 opened #760 "Limit staging deployment to 1 action at a time"
We have CI for deploying to staging whenever there's a push to `main`, and right now it's possible for there to be multiple running deployments at the same time. In the below screenshot, there were 4 and I cancelled the last 3:

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/2176050/202521470-c13497fa-e4fd-422b-8466-57930ecb0bc8.png">

We can look into using [cancel-i

[2022-11-17 21:21] neuromusic commented on #759
@psobolewskiPhD :D

We recently added support for a variety of npe2 fields, including `display_name`... But even though this shows up on plugin pages and cards:

[Example](https://www.napari-hub.org/plugins/napari-lattice)

![image](https://user-images.githubusercontent.com/1245615/202562233-b6c047e9-99e0-48e7-a65c-b5153ac3b2a7.png)

However, what @kandarpksk is noting here is that our sorter stil

[2022-11-17 21:44] lauramarcos opened #761 "[Subscription] Subscription button is not working even though subscriptions are going thru"
#### Description
Applet not changing when subscription button is pressed

#### Steps/Code to Reproduce
1. Go to end of napari-hub page
2. Click on Subscription text field
3. Enter correct email data
4. Click on <Subscribe> button

#### Expected Results
Subscription message must be displayed

#### Actual Results
Seems button is not responding as message does not show up even though backend is worki

[2022-11-17 21:46] neuromusic opened #762 "Filter plugins based on file extension, NOT file pattern"
Note: This was discussed but not well-specified in the PRD for npe2 support.

Currently, the file extension filter displays the file pattern that plugins support instead of the intended behavior of displaying the extension that the plugin supports.

If I'm a napari user with an OME-Tiff file, this could be opened by a reader plugin which has either `*.tiff` specified as a supported file pattern or

[2022-11-18 21:35] manasaV3 opened #764 "Dev branches with upper case characters fails deploy"
#### Description
The ACM certificate created has all the domain characters in lowercase. This does not meet the expectation of the terraform, which expects the certificate created to match the stack name which could have. This causes the deployment to fail.

We can fix this by ensuring that the stack name only has lowercase characters.

#### Steps/Code to Reproduce
Create a dev branch with an uppe

[2022-11-21 19:58] #723 closed, assigned to codemonkey800

[2022-11-21 19:58] #731 closed, assigned to codemonkey800

[2022-11-22 22:01] #744 closed, assigned to codemonkey800

[2022-11-23 20:18] richaagarwal commented on #732
@codemonkey800 Hmm when I go to a new plugin on staging, e.g. https://staging.napari-hub.org/plugins/napari-psf-analysis, I don't see any activity section. Is this expected, or is there corresponding back-end work that needs to happen as a result of your changes?

[2022-11-23 20:22] richaagarwal commented on #732
@codemonkey800 Shouldn't this plugin https://staging.napari-hub.org/plugins/napari-svetlana have the "There is not yet enough data to display for this plugin" for the monthly installs section?

[2022-11-23 23:22] codemonkey800 opened #767 "Incorrect date used for monthly installs"
The latest release date is used instead of the first release date, making charts show no data on the hub:

<img width="290" alt="image" src="https://user-images.githubusercontent.com/2176050/203662530-2f5de75e-8c2a-401a-82ef-e175b6ccb004.png">

[2022-11-23 23:37] richaagarwal commented on #732
Ah I would suggest using the release date to calculate this, but yes it seems back-end and front-end should align here on what data needs to be passed. Let's discuss more on Monday!

[2022-11-24 00:46] #767 closed, assigned to codemonkey800

[2022-11-28 20:04] richaagarwal commented on #608
This is currently blocked as the simple API may not be an option, as it doesn't support upload time at the moment (see https://github.com/jwodder/pypi-simple/issues/5).

[2022-11-28 20:10] richaagarwal commented on #707
This is blocked as we want to migrate to a database before we take on additional search/filter work for activity dashboard metrics.

[2022-11-28 21:08] #709 closed

[2022-11-28 21:11] richaagarwal commented on #720
I see this is in review, but does a PR for the work in [this comment](https://github.com/chanzuckerberg/napari-hub/pull/741/files#r1022229640) need to be created first?

[2022-11-28 21:38] manasaV3 commented on #732
I agree that using the release date is ideal, but we don't store the release date in the activity data we currently cache and fetch on API calls. Utilizing the min on the timestamp of installs will not accurately represent the release date in cases where a plugin didn't have installs in the first few months after release.
From an earlier discussion, I believe there was a consensus that exposing th

[2022-11-28 21:54] richaagarwal commented on #732
@manasaV3 Great points - let's move forward with Jeremy's fix for now, but the total months bug sounds like its own separate issue; could you create an issue to track that bug and your proposed fix?

[2022-11-28 21:58] klai95 commented on #732
Just to clarify, essentially we would use the release date as the start date to for filtering data (as in we would discard data before that start date). After the filtering process, in the case (1) there are fewer than 12 months of data (for example 3 months), we would return a list of 3 objects to the frontend and in the case (2) there are at least 12 months of data, then we return the past 12 mo

[2022-11-29 20:01] #752 closed, assigned to codemonkey800

[2022-11-29 21:06] manasaV3 commented on #720
I believe it was set to review for https://github.com/chanzuckerberg/napari-hub/pull/741

Now that https://github.com/chanzuckerberg/napari-hub/pull/749 has been merged, I can make a new PR to complete the cleanup. I can mark this issue closed after that. :)

[2022-11-29 22:19] manasaV3 opened #775 "Remove totalMonths in the metric response"
As the frontend team uses the initial release date metric to make the computations and doesn't use the totalMonths metric, we can remove this from the response.

[2022-11-29 22:40] manasaV3 opened #776 "Add initial release date to metric endpoint"
The front end uses the initial release date to determine the time period of install activity. The front end currently obtains the release date from the plugin data. To allow for easier access to the release date, we should also expose it as a part of the activity metric endpoint.

[2022-11-30 18:58] codemonkey800 opened #777 "Fix activity dashboard pluralization"
![image](https://user-images.githubusercontent.com/2176050/204884859-e4ea051f-ff26-4d05-a09b-a2e7e88873ea.png)

Right now the dashboard is rendering text like `1 months`, when it should be `1 month`. It should be fixed for all cases, including `weeks` and `days`

[2022-11-30 19:04] codemonkey800 opened #778 "Last month activity data not rendered on activity dashboard"
It looks like all charts on the activity dashboard are showing 0 for the last month:

![image](https://user-images.githubusercontent.com/2176050/204885959-76353ba0-c81a-430f-94bb-425203ea4679.png)

looking at the API response for `napari-svg`, I found that the response is not returning any data for the last month:
https://api.staging.napari-hub.org/metrics/napari-svg

[code]

[2022-11-30 19:28] codemonkey800 opened #779 "Activity showing multiple 0s on y-axis"
It should only be showing one 0

![image](https://user-images.githubusercontent.com/2176050/204890623-6652928e-e334-46a0-bd90-3832b982c80d.png)

[2022-11-30 20:20] codemonkey800 opened #780 "Add query parameter for plugin page tabs"
It'd be nice to have share the activity dashboard directly or refresh the page and open it directly. Right now the tabs always default to the description

[2022-11-30 21:38] #777 closed, assigned to codemonkey800

[2022-11-30 21:38] #778 closed, assigned to codemonkey800

[2022-11-30 21:38] #779 closed, assigned to codemonkey800